NODE_ENV=dev
MONGODB_USER=test
MONGODB_PASSWD=test
MONGODB_DB=test

# Backend Variables
API_KEY=sf_live_zh01y6BtHuhIOd2saVGVoFiKrtTL4Ktr
DB_HOST=mongo-db
DB_PORT=27017
DB_NAME=test
DB_USER=test
DB_PASSWORD=test

# Admin Bot Variables
BOT_TOKEN=8742928207:AAGE1SeeUvQSBgGhEe7Prb2VU-3r9JalWUQ
API_BASE_URL=http://host.docker.internal/api
ADMIN_IDS=["1671236639", "1771721864"]
